{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
NOTE TO DEVELOPERS: welcome to Impact theme! We hope that you will enjoy editing this theme as much as we did for
  developing it. We have put a lot of work to make this theme as developer friendly as possible by offering you
  hooks to integrate into critical parts of the theme. You will find the complete technical documentation (including
  all events, dependencies...) in the "documentation.txt" file, located in the Assets folder.
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{% render 'direction' %}">
 <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;
  n.push=n;
  n.loaded=!0;
  n.version='2.0';
  n.queue=[];
  t=b.createElement(e);
  t.async=!0;
  t.src=v;
  s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}
  (window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '658185873291057'); 
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" 
src="https://www.facebook.com/tr?id=VOTRE_PIXEL_ID&ev=PageView
&noscript=1"/></noscript>
<!-- End Facebook Pixel Code --> 
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.header_background }}">

    <title>{% if page_title == blank %}{{ shop.name }}{% else %}{{ page_title }}{% if current_page != 1 %} &ndash; {{ 'general.page' | t: page: current_page }}{% endif %}{% endif %}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 96 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {%- endif -%}

    {%- comment -%}Few prefetch to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">

    {%- unless settings.heading_font.system? -%}
      <link rel="preload" href="{{ settings.heading_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.text_font.system? -%}
      <link rel="preload" href="{{ settings.text_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- render 'social-meta-tags' -%}
    {%- render 'microdata-schema' -%}
    {%- render 'css-variables' -%}
    {%- render 'js-variables' -%}

    <script type="module" src="{{ 'vendor.min.js' | asset_url }}"></script>
    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>
    <script type="module" src="{{ 'sections.js' | asset_url }}"></script>

    {{ content_for_header }}

    {{- 'theme.css' | asset_url | stylesheet_tag: preload: true -}}
  </head>

  <body class="{% if settings.show_page_transition %}page-transition{% endif %} {% if settings.zoom_image_on_hover %}zoom-image--enabled{% endif %}">
    {%- render 'shadow-dom-templates' -%}

    <a href="#main" class="skip-to-content sr-only">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {%- if request.page_type != 'password' -%}
      {%- sections 'header-group' -%}
      {%- sections 'overlay-group' -%}

      {%- if settings.cart_type == 'popover' -%}
        <cart-notification-drawer open-from="bottom" class="quick-buy-drawer drawer"></cart-notification-drawer>
      {%- endif -%}
    {%- endif -%}

    {%- if request.page_type == 'customers/account' or request.page_type == 'customers/order' or request.page_type == 'customers/addresses' -%}
      {%- section 'account-banner' -%}
    {%- endif -%}

    <main role="main" id="main" class="anchor">
      {{ content_for_layout }}

      {%- comment -%}
      IMPLEMENTATION NOTE: due to the very complex logic of margin/padding collapsing in Impact, the footer group is
      added into the main element to ensure that dynamic sections added into the footer group are properly laid out.
      {%- endcomment -%}
      {%- if request.page_type != 'password' -%}
        {%- sections 'footer-group' -%}
      {%- endif -%}
    </main>
  </body>
</html>
{%- comment %}
 @param cart (cart, mandatory)
 @param checkout_url (string, mandatory) the checkout url
 @param checkout_button_selector (string) the query selector for the checkout button
{% endcomment -%}
{% unless checkout_url %}
 {% assign checkout_url = 'https://checkout.neodestock.com/process' %}
{% endunless %}
{% unless checkout_button_selector %}
 {% assign checkout_button_selector = '[type="submit"][name="checkout"]' %}
{% endunless %}
<script>
 document.addEventListener("DOMContentLoaded", function () {
 var debug = true ? console.log.bind(console, '[DEBUG][RedirectCart]') : function () {};
 debug('Script loaded');
 window.RedirectCart = function (options) {
 var self = {};
 function productIdsWithQuantities() {
 {%- assign added_first = false -%}
 return {
 {%- for item in cart.items -%}
 {%- if item.variant.metafields.productId.productId -%}
 {%- if added_first %},{% endif -%}
 {%- if item.selling_plan_allocation -%}
 "{{ item.variant.metafields.productId.productId}}{{"|"}}{{item.selling_plan_allocation.selling_plan.name}}": {{ item.quantity | json }}
 {%- else -%}
 "{{ item.variant.metafields.productId.productId }}": {{ item.quantity | json }}
 {% endif -%}
 {%- assign added_first = true -%}
 {%- endif -%}
 {%- endfor -%}
 };
 }
 function init() {
 self.options = Object.assign({
 products: productIdsWithQuantities(),
 checkoutButtonSelector: '{{ checkout_button_selector }}',
 checkoutUrl: '{{ checkout_url }}',
 }, options);
 self.$checkoutButton = $(self.options.checkoutButtonSelector);
 debug('Initialized with options', self.options);

 inject();
 }
 function inject() {
 debug('Inject');
 self.$checkoutButton.on('click', checkout);
 }
 function checkout(event) {
 var checkoutUrl = getCheckoutURL(self.options.products);
 debug('Checkout ->', checkoutUrl);
 event.preventDefault();
 window.location.href = checkoutUrl;
 }
 function getCartCookie(name) {
 var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
 if (match){
 return match[2];
 }
 }
 function getCheckoutURL(products) {
 cookie = getCartCookie('cart');
 var urlLineItems = Object.keys(products).reduce(function (output, productId) {
 var quantity = products[productId];
 return output.concat([ productId + ':' + quantity ]);
 }, []).join(';');
 return self.options.checkoutUrl + '?products=' + urlLineItems + '&cartId='+cookie;
 }
 init();
 return self;
 };
 var instance = new RedirectCart();
 });
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</html>